.brand-list, .team__list, .doing__list, .strategy__list, .team-icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header background, team card background */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 96px 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid tomato;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    height: 70px;
  }
}
/**
  |============================
  | logo
  |============================
*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: block;
}

.logo__text--dark {
  color: #2e2f42;
}

.team-icon-list {
  justify-content: center;
  display: flex;
  gap: 24px;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.caption {
  margin-bottom: 8px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  min-height: 584px;
  max-width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal .modal-btn {
  display: flex;
  align-items: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal > button:hover,
.modal > button:focus {
  color: #ffffff;
  background-color: #404bbf;
  fill: #ffffff;
}

.hero p {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .menu-hamburger {
    stroke: #2e2f42;
  }
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  .mobile-wraper {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px 40px;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #2e2f42;
  }
  .mobile-close:hover,
  .mobile-close:focus {
    color: #ffffff;
    background-color: #404bbf;
    fill: #ffffff;
  }
  .mobile-nav {
    margin-bottom: auto;
  }
  .mobile-item + .mobile-item {
    margin-top: 40px;
  }
  .link-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .link-mobile:hover,
  .link-mobile:focus,
  .link-number:focus,
  .link-number:hover {
    color: #404bbf;
  }
  .link-number {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .contact-list-mobile {
    margin-bottom: 48px;
  }
  .mobile-icon-list {
    display: flex;
    gap: 32px;
  }
  .mobile-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    letter-spacing: 0;
  }
}
.modal-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.textarea-label {
  margin-bottom: 16px;
}

.span-wraper {
  width: 100%;
}

.modal-input {
  padding: 11px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.textarea {
  padding-top: 8px;
  padding-left: 16px;
  width: 100%;
  min-height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus,
.textarea:focus {
  border: 1px solid #4d5ae5;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 19px;
}

.modal-label:focus-within {
  fill: #404bbf;
}

.modal-checkbox {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox {
  position: absolute;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  border: none;
  border-radius: 2px;
}

.checkbox:focus ~ .checkbox-icon {
  outline: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-checkbox a {
  color: #4d5ae5;
}

.submit-btn {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  color: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background: #404bbf;
}

/**
  |============================
  | nav
  |============================
*/
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
}
.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 76px;
  gap: 40px;
}

.menu-list__link {
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  position: relative;
  display: block;
  padding: 21px 0;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #404bbf;
}

.menu-list__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link:hover::after,
.menu-list__link:focus::after {
  transform: scaleX(1);
}

.menu-list__link--active {
  color: #404bbf;
}
.menu-list__link--active::after {
  transform: scaleX(1);
}

/**
  |============================
  | contact
  |============================
*/
.contact {
  margin-left: auto;
}

.contact__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact__list-link {
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__list-link:hover, .contact__list-link:focus {
  color: #404bbf;
}

.hero {
  padding: 112px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 72px;
  width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #ffffff;
  text-transform: capitalize;
}

@media screen and (max-width: 427px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/bg/mobile-bg.jpg);
  }
}
@media screen and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/bg/tablet-bg.jpg);
  }
}
.strategy__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.strategy__list-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background: #f4f4fd;
  border-radius: 4px;
}

@media screen and (max-width: 1158px) {
  .strategy__list-box {
    display: none;
  }
  .strategy__list-caption--m {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111111111;
    letter-spacing: 0.02em;
    font-style: normal;
  }
}
.section-doing {
  padding-bottom: 120px;
}

.doing__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 1158px) {
  .section-doing {
    display: none;
  }
}
.section__team {
  background-color: #f4f4fd;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.team__list-item {
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__list-div {
  padding: 32px 0;
}

.desc {
  margin-bottom: 8px;
  font-weight: 400;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
}

.brand-list__item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.link-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-brand:hover,
.link-brand:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.brand-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */