.footer {
  background-color: $color_navy_blue;
}

.footer__flex {
}
.footer__flex-wraper {
  margin-bottom: 72px;
  text-align: center;
}

.footer__social-wraper {
  text-align: center;
  margin-bottom: 72px;
}
.footer-subscribe {
  text-align: center;
}
