.strategy__list {
  text-align: center;
  @extend %list;
  @include flex-column;
  gap: 24px;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .strategy__list {
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .strategy__list-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .strategy__list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.strategy__list-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background: $color_cloud;
  border-radius: 4px;
}
.strategy__list-icon {
}
@media screen and (max-width: 1158px) {
  .strategy__list-box {
    display: none;
  }

  .strategy__list-caption--m {
    @include font(36px, 700, 40px);
  }
}
