.container {
  margin: auto;
  padding: 0 15px;
  width: 1158px;
  outline: 1px solid tomato;
}

.header__container {
  @include flex-center();
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }
  .header__container {
    height: 70px;
  }
}
