.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid tomato;
}

.header__container {
  @include flex-center();
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    height: 70px;
  }
}
