.footer-form {
  position: relative;
  @include flex-column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }
}
.footer-input {
  padding: 8px;
  padding-left: 16px;
  width: 100%;
  height: 40px;
  color: $color_white;
  background: none;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.footer-input::placeholder {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-span {
  position: absolute;
  top: 0;
  left: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-subscribe button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe button:focus,
.footer-subscribe button:hover {
  background-color: #404bbf;
}
