.team-icon-list {
  @extend %list;
  justify-content: center;
  display: flex;
  gap: 24px;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
}

/**
  |============================
  | 
  |============================
*/
.social-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.social-list {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
