.backdrop {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  min-height: 584px;
  width: 392px;
  background-color: $color_dairy;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .modal-btn {
    @include flex-center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;

    cursor: pointer;
    color: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

@media screen and (max-width: 392px) {
  .modal {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    top: 10%;
    transform: translateX(-50%);
  }
}
.modal > button:hover,
.modal > button:focus {
  color: #ffffff;
  background-color: #404bbf;
  fill: #ffffff;
}
.hero p {
  margin-bottom: 16px;
}
