@mixin logo() {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color_iris;
}
@mixin font-body() {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
}
@mixin font-caption() {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@mixin font($fs, $fw, $lh, $lc) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh/$fs;
  letter-spacing: $lc;
  font-style: normal;
}
@mixin flex-center($display-flex: flex) {
  display: $display-flex;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin list {
  list-style: none;
}
@mixin link {
  text-decoration: none;
  display: block;
}

@mixin bg-img() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
