$color_iris: #4d5ae5;
$color_ocean: #404bbf;
$color_navy_blue: #2e2f42;
$color_green: #31d0aa;
$color_slate: #434455;
$color_light_slate: #8e8f99;
$color_cornflower: #e7e9fc;
$color_cloud: #f4f4fd;
$color_grey: #2e2f42;

/* Header background, team card background */
$color_white: #ffffff;
$color_dairy: #fcfcfc;
